

@font-face {
    font-family:"Roboto";
    src: url(../assets//font//Roboto/LICENSE.txt);
  }


@media only screen and (min-width: 0px) and  (max-width: 1024px)
{
    .outerDiv{
        border-style: none !important;
        box-shadow: none !important;    
        margin: 0% !important;
    }
    .endorse{
        height: 60px !important;
        width: 100px !important;
    }
    .registerForm  p {
      font-size: 20px !important;
      margin-top: 0px !important;
    }
    .registerForm{
        margin-top: 20px !important;
    }



}

.endorse{
    background-repeat: no-repeat;
    height: 80px;
    position: absolute;
}
.SignIn{
    width: 100px;
    height: 60px;
    
}


.SignIn button {
    margin-top: 20px;
    color:#01A0DB;
    width: 100px;
    height: 30px;
    font-size: 12px;
    background-color: transparent;
    border-style: solid;
    border-radius: 15px;
    border-width: 1px;
    border-color: #01A0DB;
    outline: none !important;
    cursor: pointer;
    padding: 5px;
    margin-left: -15px;
}


.outerDiv {
    border-style: solid;
    border-width: 3px;
    border-color: #01A0DB;
    border-radius: 30px;
    margin-top: 5em ;
    box-shadow: 4px 1px 2px 0px rgba(0, 0, 0, 0.19);
}

.LeftSection{
    background-color: #01A0DB ;
    padding: -15;
    height: 100%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 4px 1px 2px 0px rgba(0, 0, 0, 0.19);

}
/* .RowClass {
    display: flex;
    flex-direction: row;
} */

.WEllips1 {
    margin-top: 4em;
    margin-left: 1em;
}
.WEllips4 {
    margin-top: 5em;
}

.TextSection{
    margin-top: 50px;
    margin-left: 45px;
}

 .TextSection h1 {
    margin-left: 15px;
    font-size: 32px;
    font-weight: 500;
    color: white;
} 
.TextSection p {
    align-self: center;
    color: white;
    font-weight: 500;
}
.InnerText {
    display: flex;
    flex-direction: row;
    /* margin-left: 3em; */
    align-items: center;
    font-weight: 500;
}
.InnerText h6 {
    font-size: 13px;
    color: white;
    margin-top: 1em;

}
.InnerText button {
    outline: none;
    cursor: pointer;
    margin-left: 1em;
    border-radius: 20px;
    width: 8em;
    font-size: 12px;
    background-color: inherit;
    color: #01A0DB; 
    border-color: white;  
    background-color: white;
    border-style: solid;
    border-width: 1px;
    height: 30px;
    padding : 5px;
}
.WEllips3 {
    margin-left: 1em;
    margin-left: 2em;

}
.WEllips2 {
    align-self: center;
    align-items: flex-end;    

}
.BEllips1 {
    margin-top: 0%;
    margin-left: 1em;
}
.registerForm {
    margin-top: 40px;
}


.registerForm p {
    margin-top: auto;
    margin-bottom: 1em;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

label{
    font-size: 12px;
    line-height: 5px;
    margin-top: 1em;
}


input[type="file"] {
    position: absolute;
  font-size: 20px;
  opacity: 0;
  right: 0;
  top: 0;
}
.upload{
    position: relative;
    overflow: hidden;
    color: white;
    width: 100%;
    height: 30px;
    /* padding-bottom: 5px; */
    border-radius: 3px;
    font-size: 12px;;
    background-color: #01A0DB;
}

.form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    /* display: flex; */
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

.fileClass{
 background-color: lawngreen;
 width :80px ;
 height: 20px;
 margin-top: 30px;
 margin-right: 10px;
}


.optional{
    color: gray;
}
.registerButton{
    color:#01A0DB;
    border-style: solid;
    border-radius: 15px;
    border-width: 1.5px;
    border-color: #01A0DB;
    height: 30px;
    font-size: 12px;
    width: 8em;
    background-color: transparent;
    font-weight: 500;
    float: right;
    outline: none !important;
    cursor: pointer;
    padding : 5px ;
   
}
.registerButton-div{
    display: flex;
    flex-direction: row-reverse;
    outline: none;
    cursor: pointer;
    margin-bottom: 10px;
}
.form-group {
    margin-bottom: 10px;
}


/* mobile view contents */

.details {
    background-color:#01A0DB ;
    margin-top: 5px;

}

.details p{
    padding : 20px 20px 20px 20px;
    text-align: left;
    color: white;
    font-size: 16px;
    border-style: none;
}

