
/* :root 
{
  --bg-color:#F2F3FB;
  --inset:#E5E8F2;
  --nm: 6px 6px 16px 0 rgba(0, 0, 0, 0.2),
  -6px -6px 16px 0 rgba(255, 255, 255, 1);
  --nm-inset:inset 4px 4px 8px 0 rgba(0, 0, 0, 0.2),
  inset -4px -4px 8px 0 rgba(255, 255, 255, 0.8);
} */


@font-face {
    font-family:"Roboto";
    src: url(../assets//font//Roboto/LICENSE.txt);
  }

@media only screen and (min-width: 0px) and  (max-width: 1024px)
{
    .outerDiv{
        border-style: none !important;
        box-shadow: none !important;    
        margin: 0% !important;
    }
    .endorse{
        font-weight: 500;
        margin-top: 25px !important;
        font-size: 22px !important;
    }
    .registerForm  p {
      font-size: 20px !important;
      margin-top: 0px !important;
    }
    .registerForm{
        margin-top: 20px !important;
    }

    .container-fluid {
        width: 100%;
        /* padding-right: 0px !important;
        padding-left: 0px !important;
        margin-right: 0px !important;
        margin-left: 0px !important; */
    }

}
/* @media only screen and (min-width: 540px)  and (max-width: 1024px)
{
    .outerDiv{
        border-style: none !important;
        box-shadow: none !important;
        margin: 0% !important;
    }
    .endorse{
        font-weight: 500;
        margin-top: 25px !important;
        font-size: 22px !important;
    }
    .registerForm  p {
      font-size: 20px !important;
      margin-top: 0px !important;
    }
    .registerForm{
        margin-top: 20px !important;
    }

    .container-fluid {
        width: 100%;
        padding-right: 0px !important;
        padding-left: 0px !important;
        margin-right: 0px !important;
        margin-left: 0px !important;
    }

} */


  /* @media only screen and (min-width: 0px) and  (max-width: 769px)
{
    .outerDiv{
        border-style: none !important;
        box-shadow: none !important;
        margin: 0% !important;
    }
    .endorse{
        font-weight: 500;
        margin-top: 25px !important;
        font-size: 22px !important;
    }
    .registerForm  p {
      font-size: 20px !important;
      margin-top: 0px !important;
    }
    .registerForm{
        margin-top: 20px !important;
    }

    .container-fluid {
        width: 100%;
        padding-right: 0px !important;
        padding-left: 0px !important;
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
    
} */

  /* @media only screen and  (max-width: 760px)
{
    .outerDiv {
        border-style: solid ;
        border-width: 3px;
        border-color: #01A0DB;
        border-radius: 30px;
        margin: 1em 3em ;
        box-shadow: 4px 1px 2px 0px rgba(0, 0, 0, 0.19);
    }

} */


.endorse{
    font-weight: 500;
    margin-top: 1em;
}

.SignIn{
    width: 100px;
    height: 70px;
    
}


.SignIn button {
    margin-top: 25px;
    color:#01A0DB;
    width: 100px;
    height: 30px;
    font-size: 12px;
    background-color: transparent;
    border-style: solid;
    border-radius: 15px;
    border-width: 1px;
    border-color: #01A0DB;
    outline: none !important;
    cursor: pointer;
    padding: 5px;
    margin-left: -15px;
}


.outerDiv {
    border-style: solid;
    border-width: 3px;
    border-color: #01A0DB;
    border-radius: 30px;
    margin: 1em 3em ;
    box-shadow: 4px 1px 2px 0px rgba(0, 0, 0, 0.19);
}

.LeftSection{
    background-color: #01A0DB ;
    padding: -15;
    height: 100%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 4px 1px 2px 0px rgba(0, 0, 0, 0.19);

}
.RowClass {
    display: flex;
    flex-direction: row;
}

.WEllips1 {
    margin-top: 4em;
    margin-left: 1em;
}
.WEllips4 {
    /* align-self: center; */
    margin-top: 5em;
    /* align-items: flex-end; */
}

.TextSection{
    margin-top: 50px;
}

.TextSection h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-left: 45px;
    font-size: 25px;
    font-weight: 600;
    align-self: center;
    text-align: start;
    margin-top : 20px

}
.TextSection p {
    /* width: 70%; */
    align-self: center;
    color: white;
    font-weight: 500;
    margin-left: 45px;
}
.InnerText {
    display: flex;
    flex-direction: row;
    margin-left: 3em;
    align-items: center;
    font-weight: 500;
}
.InnerText h6 {
    font-size: 13px;
    color: white;
    margin-top: 1em;

}
.InnerText button {
    outline: none;
    cursor: pointer;
    margin-left: 1em;
    border-radius: 20px;
    width: 8em;
    font-size: 12px;
    background-color: inherit;
    color: white;   
    border-color: white;
    border-style: solid;
    border-width: 1px;
    height: 30px;
    padding : 5px;
}
.WEllips3 {
    margin-left: 1em;
    margin-left: 2em;

}
.WEllips2 {
    align-self: center;
    align-items: flex-end;    

}
.BEllips1 {
    margin-top: 0%;
    margin-left: 1em;
}
/* .BEllips2 {
    align-items: flex-end;
} */


.registerForm {
    margin-top: 40px;
}


.registerForm p {
    margin-top: auto;
    margin-bottom: 1em;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

label{
    font-size: 12px;
    line-height: 5px;
    margin-top: 1em;
}


input[type="file"] {
    position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
}
.upload{
    /* position: relative; */
    overflow: hidden;
    margin-top: 0%;
    justify-items: start;
    color: white;
    width: 100%;
    border-radius: 3px;
    font-size: 12px;;
    background-color: #01A0DB;
}


.optional{
    color: gray;
}
.registerButton{
    color:#01A0DB;
    border-style: solid;
    border-radius: 15px;
    border-width: 1.5px;
    border-color: #01A0DB;
    height: 30px;
    font-size: 12px;
    width: 8em;
    background-color: transparent;
    font-weight: 500;
    float: right;
    outline: none !important;
    cursor: pointer;
    padding : 5px ;
    /* padding-bottom: 10px; */
    
}
.registerButton-div{
    display: flex;
    flex-direction: row-reverse;
    outline: none;
    cursor: pointer;
    margin-bottom: 10px;
}
.form-group {
    margin-bottom: 10px;
}


/* mobile view contents */

.details {
    /* width: 100%; */
    background-color:#01A0DB ;
    /* padding: 10px 10px 10px 10px; */

}

.details p{
    padding : 20px 20px 20px 20px;
    text-align: left;
    color: white;
    font-size: 16px;
     /* margin-left: -20px; */
    border-style: none;
}

